<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Control Center</a></li>
            <li>
              <span class="opener">Physical Sciences</span>
              <ul>
                <li><a href="/search?category=Biology">Biology</a></li>
                <li><a href="/search?category=Chemistry">Chemistry</a></li>
                <li><a href="/search?category=Physics">Physics</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Tech</span>
              <ul>
                <li><a href="/search?category=AI">AI</a></li>
                <li><a href="/search?category=Robotics">Robotics</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Discovery</span>
              <ul>
                <li><a href="/search?category=Archaeology">Archaeology</a></li>
                <li><a href="/search?category=Nature">Nature</a></li>
                <li><a href="/search?category=History">History</a></li>
                <li><a href="/search?category=Astronomy">Astronomy</a></li>
              </ul>
            </li>
            <li><a href="/search?category=Health">Health</a></li>
          </ul>
        </nav>
        <!-- <a href="https://sciencedoc.blob.core.windows.net/science/pic01-1575057053414.jpg" download="proposed_file_name">Download</a> -->

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Miscellaneous</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <ul class="contact">
            <li class="icon solid fa-envelope"><a href="mailto:anthonysalmerondev@gmail.com">anthonysalmerondev@gmail.com</a></li>
            <li class="icon solid fa-phone">Company Phone: (617)-209-9182</li>
            <li class="icon solid fa-home">Boston, MA</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; Repo. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
  </div> <!--end of sidebar-->
