<!doctype html>
<html>
<head>
    <title>Repo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Given Name</label>
            <input type="text" class="form-control" name="firstname">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <div class="form-group">
          <label>Select your areas of interest</label>
          <label for="">AI</label>
          <input type="checkbox" name="interests" value="AI">
          <label for="">Biology</label>
          <input type="checkbox" name="interests" value="Biology">
          <label for="">Chemistry</label>
          <input type="checkbox" name="interests" value="Chemistry">
          <label for="">Physics</label>
          <input type="checkbox" name="interests" value="Physics">
          <label for="">Robotics</label>
          <input type="checkbox" name="interests" value="Robotics">
          <label for="">Astronomy</label>
          <input type="checkbox" name="interests" value="Astronomy">
          <label for="">Nature</label>
          <input type="checkbox" name="interests" value="Nature">
          <label for="">Archaeology</label>
          <input type="checkbox" name="interests" value="Archaeology">
          <label for="">History</label>
          <input type="checkbox" name="interests" value="History">
          <label for="">Health</label>
          <input type="checkbox" name="interests" value="Health">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
